@font-face {
  font-family: "Exo 2";
  src: url("./fonts/Exo2-Italic-VariableFont_wght.ttf") format(truetype);
}

.Container {
  width: 99, 9vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: pink;*/
}

.main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
}

.Header {
  position: sticky;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: grey;
}

.Button {
  font-size: -2rem;
}

.TestHeader {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: -15px;
}

.TestHeaderWord {
  margin-left: 80px;
}

.TestHeaderWordGroup {
  display: flex;
  margin-left: 100px;
}

.SelectedWordList {
  position: sticky;
  top: 200px;
  margin-bottom: 100px;
  height: 100%;
}

.WordList {
}

.Information {
  position: absolute;
  right: 20px;
}

.InformationIcon {
  color: green;
}
