.Container {
  width: 99, 9vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.Header {
  position: sticky;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: green;
}

.Button {
  font-size: -2rem;
}

.TestHeader {
  display: flex;
}

.SelectedWordList {
  position: sticky;
  top: 200px;
  display: flex;
  height: 100%;
  margin-left: 100px;
}

.WordList {
  background-color: grey;
}
