.Container {
  background-image: url("../../public/loginBackground.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 430px;
  width: 350px;
}

.Username {
  position: relative;
}

#UserInput {
  border: 1px solid;
  border-radius: 10px;
}

.Login {
  position: relative;
  top: 20px;
  font-size: 40px;
}

.Passwort {
  position: relative;
  bottom: 30px;
}

.inputField {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 200px;
}

.Butt {
  position: relative;
  background-color: rgb(255, 165, 0);
  height: 50px;
  width: 190px;
  bottom: 40px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  color: white;
}

.Butt:active {
  background-color: rgb(214, 140, 1);
}
