.Container {
  width: 99, 9vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: pink;*/
}

.main {
  display: flex;
  width: 99vw;
  height: fit-content;
}

.WordList {
  display: flex;
  flex-direction: column;
  width: 49vw;
  align-items: center;
  margin-left: 50px;
}

.Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 580px;
  position: sticky;
  margin-top: 200px;
  top: 40vh;
  height: fit-content;
  padding-left: 150px;
}

.Header {
  position: sticky;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: #086cb4;
  color: white;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: black;
}

.button {
  margin-top: 10px;
  width: 580px;
  height: 80px;
  background-color: rgb(0, 155, 0);
  transition: background-color 0.5s;
  color: white;
  font-size: 2rem;
  border: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
}

.button:hover {
  background-color: rgb(5, 177, 5);
}

.button:disabled {
  background-color: #cccccc;
}

.TestHeader {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-top: 25px;
}

.TestHeaderWord {
  margin-left: 80px;
}

.TestHeaderWordGroup {
  display: flex;
  margin-left: 100px;
}

.LogoPicture {
  width: 500px;
  height: 197px;
  background-image: url("../../public/bifo-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.Information {
  position: absolute;
  right: 20px;
}

.InformationIcon {
  color: white;
  font-size: 3rem;
}

.AlertPosition {
  position: fixed;
  top: 100px;
  right: 20px;
}

.goodWords {
  background-color: #086cb4;
  width: 50%;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 10px;
}

.badWords {
  background-color: #ee7f00;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  width: 50%;
  color: white;
}

.wordsSelection {
  margin-top: 10px;
  display: flex;
  width: 580px;
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 1300px) {
  .Logo {
    padding-left: 100px;
  }

  .LogoPicture {
    width: 350px;
    height: 160px;
  }

  .button {
    width: 280px;
    margin-bottom: 100px;
  }

  .NextButton {
    top: 60vh;
  }
}

@media (max-width: 1000px) {
  .WordList {
    margin-left: 0px;
  }
  .main {
    flex-direction: column;
    align-items: center;
  }

  .LogoPicture {
    width: 0px;
    height: 0px;
    background-image: none;
  }

  .Logo {
    position: relative;
    top: 0vh;
    margin-top: 20px;
    margin-right: 50px;
  }

  .button {
    width: 580px;
  }
}
