.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 30vw;
  margin: 1px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.word {
  background-color: transparent;
  width: 300px;
  font-size: 1.5rem;
}

.radio {
  background-color: transparent;
  display: flex;
  justify-content: space-around;

  height: 2rem;
  width: 2rem;
}
