.main {
  background-color: rgb(180, 141, 219);
  height: 210mm;
  width: 297mm;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upperHalf {
  background-color: grey;
  width: 200mm;
  height: 5mm;
  margin-top: 100px;
}

.hell {
  margin-bottom: 9mm;
  background-color: blue;
  width: 95%;
  height: 170mm;
  font-size: 0.879rem;
}

.headers {
  border-style: solid;
  border-width: 2px;
  width: 200mm;
  font-weight: bold;
  text-align: center;
}

.miniHeaders {
  border-style: solid;
  border-width: 2px;
  width: 100mm;
  font-weight: bold;
  text-align: center;
}

.heaven {
  display: flex;
  align-items: center;
  height: 15mm;
  width: 95%;
  font-weight: bold;
  font-size: 2rem;
}

.content {
  background-color: pink;
  border-style: solid;
  border-width: 1px;
}

.contentRow {
  background-color: green;
  text-align: center;
  width: 100mm;
}
