.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 80vw;
  margin: 1px;
}

.word {
  background-color: transparent;
  width: 200px;
  font-size: 2rem;
}

.radio {
  background-color: transparent;
  display: flex;
  justify-content: space-around;

  height: 2rem;
  width: 2rem;
}
