.container {
  display: flex;
  height: 30px;
  width: 500px;
  margin: 1px;
}

.word {
  background-color: transparent;
  height: 30px;
  width: 200px;
}

.radio {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  margin-right: 5px;
  height: 30px;
  width: 300px;
}
